[submodule "pymux"]
	path = pymux
	url = git@github.com:Lillecarl/pymux.git
	branch = graphics-protocol
[submodule "pyte"]
	path = pyte
	url = git@github.com:Lillecarl/pyte.git
	branch = graphics-protocol
[submodule "ptterm"]
	path = ptterm
	url = git@github.com:Lillecarl/ptterm.git
	branch = graphics-protocol
[submodule "prompt-toolkit"]
	path = prompt-toolkit
	url = git@github.com:Lillecarl/python-prompt-toolkit.git
	branch = render-performance
[submodule "umbrella"]
	path = umbrella
	url = git@github.com:Lillecarl/umbrella.git
	branch = main
