[submodule "pymux"]
	path = pymux
	url = https://github.com/Lillecarl/pymux.git
	branch = graphics-protocol
[submodule "pyte"]
	path = pyte
	url = https://github.com/Lillecarl/pyte.git
	branch = graphics-protocol
[submodule "ptterm"]
	path = ptterm
	url = https://github.com/Lillecarl/ptterm.git
	branch = graphics-protocol
[submodule "prompt-toolkit"]
	path = prompt-toolkit
	url = https://github.com/Lillecarl/python-prompt-toolkit.git
	branch = render-performance
[submodule "umbrella"]
	path = umbrella
	url = https://github.com/Lillecarl/umbrella.git
	branch = main
[submodule "ptyhost"]
	path = ptyhost
	url = https://github.com/Lillecarl/ptyhost.git
	branch = main
[submodule "txterm"]
	path = txterm
	url = https://github.com/Lillecarl/txterm.git
	branch = main
